<PageTitle>Dashboard</PageTitle>

<h2>Top Heroes</h2>
<div class="heroes-menu">
    @foreach (var hero in heroes)
    {
        <a routerLink="/detail/@hero.Id">
            @hero.Name
        </a>
    }
</div>

<app-hero-search></app-hero-search>
