<PageTitle>Heroes</PageTitle>

<h2>My Heroes</h2>

<ul class="heroes">
    @foreach (var hero in heroes)
    {
        <li>
            <a href="/detail/@hero.Id">
                <span class="badge">@hero.Id</span> @hero.Name
            </a>
            <button type="button" class="delete" title="delete hero" @onclick="@(() => Delete(hero))">x</button>
        </li>
    }
</ul>

<div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" @bind-value="heroName" />

    <button type="button" class="add-button" @onclick="Add">
        Add hero
    </button>
</div>
