<div id="search-component">
    <label for="search-box">Hero Search</label>
    <input id="search-box"
           @bind-value="Text"
           @bind-value:event="oninput"
           placeholder="Search" />
    @if (_heroes is not null)
    {
        <ul class="search-result">
            @foreach (var hero in _heroes)
            {
                <li>
                    <a href="/detail/@hero?.Id">
                        @hero?.Name
                    </a>
                </li>
            }
        </ul>
    }
</div>
